<div class="row wrapper">
  <div class="col col-md-5">
    <div class="dashboard_card d-flex align-items-center">
      <%= image_tag (current_user.avatar_url || 'pirate_skull'), class: "welcome_avatar" %>
      <div>
        <span>Welcome to yer dashboa'd</span>
        <h3 class="font-weight-bold"><%= current_user.name %></h3>
      </div>
    </div>
    <% if @pending_bookings.size > 0 %>
      <div class="dashboard_card">
        <div class="header">Ships yee requested to sail</div>
        <% if @pending_bookings.empty? %>
          <div class="ship_text d-flex flex-column m-2 ml-3">
            You have no pending bookings
          </div>
        <% else %>
          <% @pending_bookings.each do |booking| %>
            <div class="ship_card">
              <div class="d-flex flex-column m-2 ml-3">
                <span class="ship_text"><%= link_to booking.pirate_ship.name, pirate_ship_path(booking.pirate_ship) %></span>
                <span class="text-muted"><%= booking.start_date %> / <%= booking.end_date %></span>
              </div>
              <% unless @pending_bookings.last == booking %>
                <hr>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @pending_bookings.size > 0 %>
      <div class="dashboard_card">
        <div class="header">Ships yee will sail</div>
        <% @confirmed_bookings.each do |booking| %>
          <div class="ship_card">
            <div class="d-flex flex-column m-2 ml-3">
              <span class="ship_text"><%= link_to booking.pirate_ship.name, pirate_ship_path(booking.pirate_ship) %></span>
              <span class="text-muted"><%= booking.start_date %> / <%= booking.end_date %></span>
            </div>
            <% unless @confirmed_bookings.last == booking %>
              <hr>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @owned_ships.size > 0 %>
    <div class="col col-md-7">
      <div class="dashboard_card">
        <div class="header">Mi Armada</div>
        <% if @owned_ships.empty? %>
          <div class="ship_text d-flex flex-column m-2 ml-3">
            You own no ships, matey. Better start looking for treasure maps.
          </div>
        <% else %>
          <% @owned_ships.each do |ship| %>
            <div class="ship_card">
              <div class="ship_text d-flex flex-column m-2 ml-3">
                <%= link_to ship.name, pirate_ship_path(ship) %>
              </div>
              <% unless ship == @owned_ships.last %>
                <hr>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
