<div class="row wrapper">
  <div class="col col-md-5">
    <div class="dashboard_card d-flex align-items-center">
      <%= image_tag (current_user.avatar_url || 'pirate_skull'), class: "welcome_avatar" %>
      <div>
        <span>Welcome to yer dashboa'd</span>
        <h3 class="font-weight-bold"><%= current_user.name %></h3>
      </div>
    </div>
    <% if @pending_bookings.size > 0 %>
      <div class="dashboard_card">
        <div class="header">Ships yee requested to sail</div>
        <% @pending_bookings.each do |booking| %>
          <div class="ship_card">
            <div class="ship_text d-flex flex-column m-2">
              <%= link_to booking.pirate_ship.name, pirate_ship_path(booking.pirate_ship),  %>
              <%= booking.start_date %> - <%= booking.end_date %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="dashboard_card">
      <div class="header">Ships yee will sail</div>
      <ul>
        <% @confirmed_bookings.each do |booking| %>
          <li><%= link_to booking.pirate_ship.name, pirate_ship_path(booking.pirate_ship) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col col-md-7">
    <div class="dashboard_card", style="height: 100%">
      <div class="header">Mi Armada</div>
    </div>
  </div>


</div>

<ul>

  <li>look at accepted reservations: DONE

  </li>
  <li>accept reservations: PENDING : where do we put this? Maybe in the ship 'show' page if logged in as an owner?</li>
  <li>get an list of my ships: DONE
      <ul>
    <% @owned_ships.each do |ship| %>
      <li><%= link_to ship.name, pirate_ship_path(ship) %></li>
    <% end %>
    </ul>
  </li>
  <li>acces my ships: DONE by using link_to</li>
  <li>I can deny or approve requests for my ships: isn't that the same as accepting reservations?</li>
</ul>
