<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
      <h3>Add a new pirate ship:</h3>
      <%= simple_form_for [@pirate_ship] do |f| %>
          <%= f.input :name, placeholder: 'Enter the name of your ship' %>
          <%= f.input :ship_type, placeholder: 'Enter the type of your ship' %>
          <%= f.input :description, placeholder: 'Enter a description about the ship' %>
          <%=f.input :capacity, as: :numeric %>
          <%=f.input :number_of_canons, as: :numeric %>
          <%=f.input :parrot_friendlyness, as: :numeric %>
          <%=f.input :picture, as: :file %>
          <%= f.submit class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
