<div class="container">

  <div class='ship-intro'>
    <% @pirate_ship.pictures.each do |picture| %>
      <%= cl_image_tag picture.key, alt: @pirate_ship.name, :class => "ship-page-image"%>
    <% end %>
    <P><%= @pirate_ship.description%></p>
  </div>
<<<<<<< HEAD

  <div class=book-button><%=link_to "Book now", new_pirate_ship_booking_path(@pirate_ship)%></div>

 <div id="map"
     style="width: 100%; height: 830px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

=======
  <div class="book-button"><%=link_to "Book now", new_pirate_ship_booking_path(@pirate_ship)%></div>
>>>>>>> master
  <div>
    <ul>
      <li>Port: <%= @pirate_ship.port%></li>
      <li>Type: <%= @pirate_ship.ship_type%></li>
      <li>Capacity: <%= @pirate_ship.capacity%></li>
      <li>Number of cannons: <%= @pirate_ship.number_of_canons%></li>
      <li>Parrot friendlyness: <%= @pirate_ship.parrot_friendlyness%></li>
      <li>Country: <%= @pirate_ship.country%></li>
    </ul>
</div>
<div class="back-button"><%=link_to "Go back", pirate_ships_path%></div>
