<div id="container">
  <div class='ship-intro'>
    <div>
      <h1><%= @pirate_ship.name%></h1>
      <%=image_tag @pirate_ship.picture, alt: @pirate_ship.name, :class => "ship-page-image"%>
    </div>
    <div>
      <p id="description"><%= @pirate_ship.description%></p>
      <div class="ship-page-owner"><p><%=image_tag @pirate_ship.user.avatar_url, alt: @pirate_ship.user.name, class: 'ship-owner-avatar'%><%= @pirate_ship.user.name%></p></div>
    </div>
  </div>

  <div class=ship-page-bottom>
    <ul>
      <li>Port: <%= @pirate_ship.port%></li>
      <li>Ship type: <%= @pirate_ship.ship_type%></li>
      <li>Capacity: <%= @pirate_ship.capacity%></li>
      <li>Number of cannons: <%= @pirate_ship.number_of_canons%></li>
      <li>Parrot friendlyness: <%= @pirate_ship.parrot_friendlyness%></li>
      <li>Country: <%= @pirate_ship.country%></li>
    </ul>
    <div class=book-button><%=link_to "Book now"%></div>
</div>
</div>